{% extends 'base.html.twig' %}

{% block title %}Liste des jours d'ouvertures
{% endblock %}

{% block body %}
	{% block header %}
		{% include "navbarAdmin/headerAdmin.html.twig" %}
	{% endblock %}
	<main class="container blockbody">
		<section class="row">
			<div class="col-12">
				<div class="titlePage">
					<h1 class="text-uppercase">Liste des jours d'ouvertures</h1>

					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Jours</th>
								<th>>Horaires d'ouvertures</th>
								<th>Horaires de fermetures</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for opening_hour in opening_hours %}
								<tr>
									<td>{{ opening_hour.id }}</td>
									<td>{{ opening_hour.day }}</td>
									<td>{{ opening_hour.startTime ? opening_hour.startTime|date('H:i:s') : '' }}</td>
									<td>{{ opening_hour.closingTime ? opening_hour.closingTime|date('H:i:s') : '' }}</td>
									<td>
										<a href="{{ path('app_cars_show', {'id': car.id}) }}">
											<i class="bi bi-eye"></i>
										</a>
										<a href="{{ path('app_cars_edit', {'id': car.id}) }}">
											<i class="bi bi-pencil"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">Aucune jour d'ouverture trouvé</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<a href="{{ path('app_opening_hours_new') }}">Ajouter une nouveau jour d'ouverture</a>

				</div>
			</div>
		</section>
	</main>
{% endblock %}
