{% extends 'base.html.twig' %}

{% block title %}Liste des jours d'ouvertures
{% endblock %}

{% block body %}

	<main class="container blockbody">
		<section class="row">
			<div class="col-12">
				<div class="titlePage">
					<h1 class="text-uppercase">Liste des jours d'ouvertures</h1>

					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Jours</th>
								<th>>Horaires d'ouvertures</th>
								<th>Horaires de fermetures</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for openingHour in openingHours %}
							<div id="table">
								<table>
									<thead>
										<legend class="footer-title">
											Horaires d'ouvertures
										</legend>
									</thead>

									{# Opening hours table #}
									<tbody>
										<tr>
											{# Monday #}
											<th scope="row">Lundi</th>
											{% if openingHours.openingMondayMorning|date('H:i:s') and openingHours.openingMondayAfternoon|date('H:i:s') == "00:00:00" %}
												{# Condition to get a "closing" message instead of opening hours #}
												<td>Fermé
												</td>
											{% else %}
												<td>
													{{openingHours.openingMondayMorning|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingMondayMorning|date('H:i:s')|slice(0,5)}},

												</td>
												<td>{{openingHours.openingMondayAfternoon|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingMondayAfternoon|date('H:i:s')|slice(0,5)}}</td>
											{% endif %}
										</tr>
										{# Tuesday #}
										<tr>
											<th scope="row">Mardi</th>
											{% if openingHours.openingTuesdayMorning|date('H:i:s') and openingHours.openingTuesdayAfternoon|date('H:i:s') == "00:00:00" %}
												<td>Fermé
												</td>
											{% else %}
												<td>{{openingHours.openingTuesdayMorning|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingTuesdayMorning|date('H:i:s')|slice(0,5)}},</td>
												<td>{{openingHours.openingTuesdayAfternoon|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingTuesdayAfternoon|date('H:i:s')|slice(0,5)}}</td>
											{% endif %}
										</tr>
										{# Wednesday #}
										<tr>
											<th scope="row">Mercredi</th>
											{% if openingHours.openingWednesdayMorning|date('H:i:s') and openingHours.openingWednesdayAfternoon|date('H:i:s') == "00:00:00" %}
												<td>Fermé
												</td>
											{% else %}
												<td>{{openingHours.openingWednesdayMorning|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingWednesdayMorning|date('H:i:s')|slice(0,5)}},</td>
												<td>{{openingHours.openingWednesdayAfternoon|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingWednesdayAfternoon|date('H:i:s')|slice(0,5)}}</td>
											{% endif %}
										</tr>
										{# Thursday #}
										<tr>
											<th scope="row">Jeudi</th>
											{% if openingHours.openingThursdayMorning|date('H:i:s') and openingHours.openingThursdayAfternoon|date('H:i:s') == "00:00:00" %}
												<td>Fermé
												</td>
											{% else %}
												<td>{{openingHours.openingThursdayMorning|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingThursdayMorning|date('H:i:s')|slice(0,5)}},</td>
												<td>{{openingHours.openingThursdayAfternoon|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingThursdayAfternoon|date('H:i:s')|slice(0,5)}}</td>
											{% endif %}
										</tr>

										{# Friday #}
										<tr>
											<th scope="row">Vendredi</th>
											{% if openingHours.openingFridayMorning|date('H:i:s') and openingHours.openingFridayAfternon|date('H:i:s') == "00:00:00" %}
												<td>Fermé
												</td>
											{% else %}
												<td>{{openingHours.openingFridayMorning|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingFridayMorning|date('H:i:s')|slice(0,5)}},</td>
												<td>{{openingHours.openingFridayAfternon|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingFridayAfternon|date('H:i:s')|slice(0,5)}}</td>
											{% endif %}
										</tr>
										{# Saturday #}
										<tr>
											<th scope="row">Samedi</th>
											{% if openingHours.openingSaturdayMorning|date('H:i:s') and openingHours.openingSaturdayAfternoon|date('H:i:s') == "00:00:00" %}
												<td>Fermé
												</td>
											{% else %}
												<td>
													{{openingHours.openingSaturdayMorning|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingSaturdayMorning|date('H:i:s')|slice(0,5)}},</td>
												<td>{{openingHours.openingSaturdayAfternoon|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingSaturdayAfternoon|date('H:i:s')|slice(0,5)}}</td>
											{% endif %}
										</tr>
										{# Sunday #}
										<tr>
											<th scope="row">Dimanche</th>
											{% if openingHours.openingSundayMorning|date('H:i:s') and openingHours.openingSundayAfternoon|date('H:i:s') == "00:00:00" %}
												<td>Fermé
												</td>
											{% else %}
												<td>

													{{openingHours.openingSundayMorning|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingSundayMorning|date('H:i:s')|slice(0,5)}},
												</td>

												<td>
													{{openingHours.openingSundayAfternoon|date('H:i:s')|slice(0,5)}}
													-
													{{openingHours.closingSundayAfternoon|date('H:i:s')|slice(0,5)}}
												</td>
											{% endif %}
										</tr>
									</tbody>
								</table>
							</div>
					
							{% else %}
								<tr>
									<td colspan="6">Aucune jour d'ouverture trouvé</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<a href="{{ path('app_openingHours_new') }}">Ajouter une nouveau jour d'ouverture</a>

				</div>
			</div>
		</section>
	</main>
{% endblock %}
