{% extends 'base.html.twig' %}

{% block title %}Liste des Services
{% endblock %}

{% block body %}
	{% if not  app.user   %}

		{% for service in services|slice(0,2) %}
			<article class=" mt-2 mb-2">
				<div class="card-body">
					<h3 class="card-title text-dark">{{service.title}}</h3>
					<p class="card-text">{{service.content}}</p>
				</div>
			</article>
		{% endfor %}

	{% endif %}


	{% if app.user.roles == 'ROLES_ADMIN' %}


		<main class="container blockbody">
			<section class="row">
				<div class="col-12">
					<div class="titlePage">
						<h1 class="text-uppercase">Services index</h1>

						<table class="table">
							<thead>
								<tr>
									<th>Id</th>
									<th>Service</th>
									<th>>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for service in services %}
									<tr>
										<td>{{ service.id }}</td>
										<td>{{ service.title }}</td>
										<td>{{ service.content }}</td>

									</tr>
								{% else %}
									<tr>
										<td colspan="3">Aucun service trouvé</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

						<a href="{{ path('app_services_new') }}">Ajouter une nouveau service</a>

					</div>
				</div>
			</section>
		</main>
	{% endif %}

{% endblock %}
