{% extends 'base.html.twig' %}

{% block title %}LISTE DES COMMENTAIRES
{% endblock %}

{% block body %}
	{% block header %}
		{% include "navbarAdmin/headerAdmin.html.twig" %}
	{% endblock %}
	<main class="container blockbody">
		<section class="row">
			<div class="col-12">
				<div class="titlePage">
					<h1 class="text-uppercase">LISTE DES COMMENTAIRES</h1>

					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Commentaire</th>
								<th>Crée le</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for comment in comments %}
								<tr>
									<td>{{ comment.id }}</td>
									<td>{{ comment.feedback }}</td>
									<td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
									<td>
										<a href="{{ path('app_cars_show', {'id': car.id}) }}">
											<i class="bi bi-eye"></i>
										</a>
										<a href="{{ path('app_cars_edit', {'id': car.id}) }}">
											<i class="bi bi-pencil"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">Aucun commentaire trouvé</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<a href="{{ path('app_comments_new') }}">Ajouter un nouveau commentaire</a>

				</div>
			</div>
		</section>
	</main>
{% endblock %}
