{% extends 'base.html.twig' %}

{% block title %}COMMENTAIRE
{% endblock %}

{% block body %}

	<main class="container blockbody">
		<section class="row">
			<div class="col-12">
				<div class="titlePage">
					<h1 class="text-uppercase">COMMENTAIRE</h1>

					<table class="table">
						<tbody>
							<tr>
								<th>Id</th>
								<td>{{ comment.id }}</td>
							</tr>
							<tr>
								<th>Commentaire</th>
								<td>{{ comment.feedback }}</td>
							</tr>
							<tr>
								<th>Crée le
								</th>
								<td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							</tr>
						</tbody>
					</table>

					<a href="{{ path('app_comments_index') }}">Retour à la liste des commmentaires</a>

					<a href="{{ path('app_comments_edit', {'id': comment.id}) }}">Modifier</a>

					{{ include('comments/_delete_form.html.twig') }}

				</div>
			</div>
		</section>
	</main>
{% endblock %}
