{# Filtered Car #}

<section>
	<ul id="car-list" class="d-flex justify-content-around flex-wrap mt-1">
		{% for car in cars %}

			{# Car Post Card #}
			<article
				class="card m-5 car-card">

				{# Carrousel Gallery #}
				<div id="{{car.brand|slug }}" class="carousel slide" data-bs-interval="false">
					<div class="carousel-inner">

						<div class="carousel-item active">
							<a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ car.id }}">

								<img class="card-img-top" src={{ asset('/assets/CarImage/')~ car.image.title}} alt="{{car.brand}}">
							</a>
						</div>

						{% for gallery in car.gallery %}
							<div class="carousel-item">
								<a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ car.id }}-{{ loop.index }}">
									<img class="card-img-top" src="{{ asset('assets/CarImage/Gallery/' ~ gallery.name) }}" alt="Photo de {{ car.brand }}">
								</a>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#{{car.brand|slug  }}" role="button" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
					<a class="carousel-control-next" href="#{{car.brand|slug  }}" role="button" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
				</div>

				{#  Caroussel Modal #}
				<div class="modal fade" id="imageModal{{ car.id }}" tabindex="-1" aria-labelledby="imageModal{{ car.id }}Label" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-body">
								<img src="{{ asset('/assets/CarImage/') ~ car.image.title }}" alt="{{ car.brand }}" class="modal-img">
							</div>
						</div>
					</div>
				</div>
				{% for gallery in car.gallerys %}
					<div class="modal fade" id="imageModal{{ car.id }}-{{ loop.index }}" tabindex="-1" aria-labelledby="imageModal{{ car.id }}-{{ loop.index }}Label" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg">
							<div class="modal-content">
								<div class="modal-body">
									<img src="{{ asset('assets/CarImage/Gallery/' ~ gallery.name) }}" alt=" Photo de {{ car.brand }}" class="modal-img">
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				{# Card Body #}
				<div class="card-body">
					<h2 id="car-name" class="card-name">{{car.brand}}</h2>
					<p class="card-text">{{car.content}}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<legend>
							Prix
						</legend>
						<p>
							{{car.price}}
							€
						</p>
					</li>
					<li class="list-group-item">
						<legend>
							Kilométrage
						</legend>
						<p>
							{{car.kilometer}}
							km
						</p>
					</li>
					<li class="list-group-item">
						<legend>
							Mise en circulation
						</legend>
						<p>
							{{car.date}}
						</p>
					</li>

					{# Display Options #}
					<li class="list-group-item">
						<a data-bs-toggle="collapse" href="#options-{{ car.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Voir les Options
						</a>
					</li>

					<ul class="collapse text-center list-group" id="options-{{ car.id }}">
						{% for equipment in car.equipments %}
							<li class="list-group-item">
								{{ equipment.libelle }}
							</li>
						{% endfor %}
					</ul>

					{# Display Characteristics #}
					<li class="list-group-item">
						<a data-bs-toggle="collapse" href="#characteristics-{{ car.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Voir les Caracteristiques
						</a>
					</li>


					<div class="collapse text-center list-group" id="characteristics-{{ car.id }}">
						<table class="table table-bordered">
							{% for characteristic in car.characteristics %}
								<tr>

									<td>
										{{ characteristic.libelle }}
									</td>
									<td>
										{{ characteristic.info }}
									</td>

								</tr>
							{% endfor %}
						</table>
					</div>

					{# Manage Car post #}
					{% if app.user %}
						{% if app.user.username == 'Parrot' %}
							<div class="card-body">
								<a href="{{ path('delete-vehicule', {'id':car.id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('edit-vehicule', {'id':car.id}) }}" class="btn btn-warning">Modifier</a>
							</div>
						{% endif %}
					{% else %}
						{# Contact Info + Form #}
						<li class="list-group-item">
							<a class="btn btn-purple" data-bs-toggle="collapse" href="#contact-{{ car.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
								Une question ?
							</a>
						</li>

						<ul class="collapse text-center list-group" id="contact-{{ car.id }}">
							<li class="list-group-item">Contactez-nous directement au
								<br>
								<a href="tel:+33102030405">01 02 03 04 05
								</a>
							</li>
							<li class="list-group-item">
								Ou envoyez-nous un message
								{{ render(controller('App\\Controller\\ContactController::renderDemand')) }}
							</li>
						</ul>
					{% endif %}
				</div>
			</article>
		{% endfor %}
	</ul>
</section>
